*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

button:focus {
  outline: none;
  border: none;
}

input,
textarea {
  outline: none;
  border: none;
}

.navbar {
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: #d1d6e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  width: 80px;
  border-radius: 50%;
  position: relative;
  z-index: 4;
}

.navbar .logo img {
  max-width: 100%;
}

.navbar .menu-toggle {
  color: #3e6bf2;
  cursor: pointer;
  display: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 5;
}

.navbar .links a {
  margin-left: .5rem;
  border-radius: 1rem;
}

.navbar .links a li {
  padding: 10px;
  color: #3e6bf2;
}

.navbar .links a:hover:not(.free-trial) {
  background-color: #fff;
}

.navbar .links .free-trial {
  background-color: #3e6bf2;
  border-radius: 1rem;
  padding: 0;
}

.navbar .links .free-trial li {
  color: #fff;
}

.header {
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-bottom: 7rem;
  background-color: #d1d6e3;
  position: relative;
}

.header h1 {
  font-size: 5.5rem;
  color: #3e6bf2;
  font-weight: normal;
  margin-bottom: 1.2rem;
}

.header p {
  padding-bottom: 3rem;
  width: 45%;
  color: #3e6bf2;
  line-height: 1.7;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.classes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 3rem;
}

.classes .class .class-img {
  width: 100%;
  margin-bottom: 1.2rem;
}

.classes .class .class-img img {
  max-width: 100%;
}

.classes .class h3 {
  height: 50px;
  margin-bottom: 1.2rem;
  font-weight: normal;
  line-height: 1.3;
  color: #3e6bf2;
}

.classes .class .info {
  margin-bottom: 1.2rem;
}

.classes .class .info li {
  color: #777777;
  margin-bottom: .7rem;
}

.classes .class .info li i {
  color: #3e6bf2;
  width: 15px;
}

.classes .class .info li span {
  margin-left: .5rem;
}

.classes .class .description {
  color: #777777;
  line-height: 1.5;
}

.subscribe {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #181818;
  color: #fff;
}

.subscribe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.subscribe .container .logo {
  width: 80px;
}

.subscribe .container .logo img {
  max-width: 100%;
}

.subscribe .container .info h3 {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.subscribe .container .info p {
  font-size: .8rem;
}

.subscribe .container .form {
  position: relative;
}

.subscribe .container .form input[type=email] {
  width: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 1rem;
  background-color: #333333;
  color: #fff;
}

.subscribe .container .form input[type=submit] {
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  padding-top: 4rem;
  background-color: #222222;
  color: #fff;
}

footer h3 {
  margin-bottom: 2rem;
}

footer .container:first-of-type {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 3.5rem;
}

footer .container:first-of-type .contact {
  line-height: 1.5;
}

footer .container:first-of-type .contact > * {
  margin-bottom: 1rem;
}

footer .container:first-of-type .contact span {
  display: block;
}

footer .container:first-of-type .contact .social-icons a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .container:first-of-type .contact .social-icons a:first-child {
  background-color: #365493;
}

footer .container:first-of-type .contact .social-icons a:nth-child(2) {
  background-color: #33ccff;
}

footer .container:first-of-type .contact .social-icons a:nth-child(3) {
  background-color: #c13584;
}

footer .container:first-of-type .contact .social-icons a:nth-child(4) {
  background-color: #cb2027;
}

footer .container:first-of-type .contact .social-icons a:hover {
  color: #3e6bf2;
  background-color: #fff;
}

footer .container:first-of-type .useful-links ul li {
  margin-bottom: .7rem;
  cursor: pointer;
}

footer .container:first-of-type .useful-links ul li:hover {
  text-decoration: underline;
}

footer .container:first-of-type .open-hours ul li {
  margin-bottom: .9rem;
}

footer .container:first-of-type .open-hours ul li .day {
  width: 300px;
}

footer .container:first-of-type .open-hours ul li .day::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f054';
  font-weight: 900;
  font-size: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

footer .container:first-of-type .location {
  margin-bottom: 4rem;
}

footer .container:first-of-type .location .map {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

footer .sub-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #181818;
}

footer .sub-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-shape-divider-bottom-1625953240 {
  display: none;
  position: absolute;
  bottom: 1.2rem;
  left: 0;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1625953240 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 160px;
}

.custom-shape-divider-bottom-1625953240 .shape-fill {
  fill: #FFFFFF;
}

.main-btn {
  padding: 10px 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: #3e6bf2;
  color: #fff;
  cursor: pointer;
}

.section-title {
  margin-bottom: 3rem;
  color: #3e6bf2;
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
}

.yoga-classes {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

/* XS Screens */
/* Mobile Screens */
@media (max-width: 767px) {
  .navbar {
    position: relative;
  }
  .navbar .links {
    position: absolute;
    bottom: -355px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 1rem;
    background-color: rgba(62, 107, 242, 0.9);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .navbar .links a {
    margin-bottom: 1rem;
    border-radius: 1rem;
    text-align: center;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .navbar .links a:not(.free-trial):hover {
    background-color: #fff;
  }
  .navbar .links a:not(.free-trial):hover li {
    color: #3e6bf2;
  }
  .navbar .links a li {
    color: #fff;
  }
  .navbar .links a.free-trial {
    background-color: #fff;
  }
  .navbar .links a.free-trial li {
    color: #3e6bf2;
  }
  .navbar .links.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navbar .links.open a {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navbar .menu-toggle {
    display: block;
  }
  .header p {
    width: 100%;
  }
  .landing {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing .landing-img {
    display: none;
  }
  .landing .landing-title {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .free-trial p {
    width: 80%;
  }
  .free-trial .free-trial-imgs {
        grid-template-areas: 'first' 'second' 'third' 'fifth' 'fourth';
  }
  .free-trial .free-trial-imgs .first {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: first;
  }
  .free-trial .free-trial-imgs .second {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: second;
  }
  .free-trial .free-trial-imgs .third {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: third;
  }
  .free-trial .free-trial-imgs .fourth {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: fourth;
  }
  .free-trial .free-trial-imgs .fifth {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: fifth;
  }
  .to-instructors p {
    width: 80%;
  }
  .instructors .instructor {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .renewal-series .info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  .renewal-series .info h2 {
    font-size: 2.1rem;
    text-align: center !important;
  }
  .renewal-series .image {
    display: none;
  }
  .subscribe .info h3 {
    font-size: 1.3rem;
    margin-bottom: .5rem;
  }
  .subscribe .info p {
    font-size: 1rem;
  }
  .subscribe .form input[type=email] {
    width: 320px !important;
  }
  .header h1 {
    font-size: 3.5rem;
  }
  .quote .container q {
    width: 90%;
  }
  .testimonials .testims .testim p {
    width: 95%;
    margin-bottom: 7rem;
  }
  .testimonials .testims .testim .person-img {
    width: 20%;
  }
  .pricing .plan {
    text-align: center;
  }
  .pricing-renewal-series {
    background-image: url("../../../images/pricing/renewal1.jpg");
    background-position: 70% 100%;
  }
  .pricing-renewal-series::after {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .pricing-renewal-series .info {
    width: 100%;
    text-align: center;
  }
  .pricing-renewal-series .info .section-title {
    text-align: center;
  }
  .contact-us form input, .contact-us form textarea {
    width: 100% !important;
    margin-right: 0;
    margin-left: 0 !important;
  }
  .contact-us .location .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .landing .landing-img img {
    top: -50% !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .free-trial p {
    width: 70%;
  }
  .free-trial .free-trial-imgs {
        grid-template-areas: 'first second' 'third fifth' 'fourth fourth';
  }
  .free-trial .free-trial-imgs .first {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: first;
  }
  .free-trial .free-trial-imgs .second {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: second;
  }
  .free-trial .free-trial-imgs .third {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: third;
  }
  .free-trial .free-trial-imgs .fourth {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: fourth;
  }
  .free-trial .free-trial-imgs .fifth {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: fifth;
  }
  .to-instructors p {
    width: 70%;
  }
  .renewal-series .image {
    top: -200px !important;
  }
  .testimonials .testims .testim p {
    width: 95%;
    margin-bottom: 2rem;
  }
  .pricing-renewal-series .info {
    width: 70%;
  }
}

@media (max-width: 991px) {
  .custom-shape-divider-bottom-1625953240 {
    display: none;
  }
  .header {
    text-align: center;
  }
  .header p {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
  .renewal-series h2 {
    font-size: 2.2rem;
  }
  .subscribe {
    padding-bottom: 3rem;
  }
  .subscribe .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 3rem;
  }
  .features .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .container .about-img img {
    position: static !important;
  }
  .contact-us .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 4rem;
  }
  .contact-us .container .bullets {
    position: static !important;
    right: 0 !important;
    bottom: 0 !important;
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
    text-align: center;
    margin-top: 2rem;
  }
  .contact-us .container .bullets li {
    display: inline-block !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .renewal-series .image {
    top: -350px !important;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .landing .landing-img img {
    top: -100% !important;
  }
}
/*# sourceMappingURL=classes.css.map */