*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

button:focus {
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

.main-btn {
  padding: 10px;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: #3e6bf2;
  color: #fff;
  cursor: pointer;
}

.section-title {
  margin-bottom: 3rem;
  color: #3e6bf2;
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
}

.navbar {
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: #d1d6e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  width: 80px;
  border-radius: 50%;
  position: relative;
  z-index: 4;
}

.navbar .logo img {
  max-width: 100%;
}

.navbar .menu-toggle {
  color: #3e6bf2;
  cursor: pointer;
  display: none;
}

.navbar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 5;
}

.navbar .links a {
  margin-left: .5rem;
}

.navbar .links a li {
  padding: 10px;
  color: #3e6bf2;
}

.navbar .links .free-trial {
  background-color: #3e6bf2;
  border-radius: 1rem;
  padding: 0;
}

.navbar .links .free-trial li {
  color: #fff;
}

.landing {
  background: #d1d6e3;
  height: 500px;
}

.landing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing .container .landing-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

.landing .container .landing-img img {
  max-width: 150%;
  position: absolute;
  left: -20%;
  z-index: 2;
}

.landing .container .landing-title {
  line-height: 1.5;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 100px;
  font-size: 1.5rem;
  color: #3e6bf2;
}

.landing .container .landing-title h1 {
  font-weight: normal;
}

.landing .custom-shape-divider-bottom-1625953240 {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.landing .custom-shape-divider-bottom-1625953240 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 160px;
}

.landing .custom-shape-divider-bottom-1625953240 .shape-fill {
  fill: #FFFFFF;
}

.features {
  position: relative;
  z-index: 99;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}

.features .container .info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.features .container .info h2 {
  text-align: left;
  margin-bottom: 0;
}

.features .container .info p {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: #777777;
}

.features .container .info .video {
  position: relative;
}

.features .container .info .video video {
  border-radius: 5px;
}

.features .container .info .video .play {
  margin: auto;
  position: absolute;
  top: 50%;
  left: calc(50% - 40px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  outline: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #3e6bf2;
  z-index: 6;
  cursor: pointer;
}

.features .container .info .video .play::after,
.features .container .info .video .play::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.features .container .info .video .play::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f04b';
  font-weight: 900;
  font-size: 2em;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #fff;
  z-index: 5;
}

.features .container .info .video .play::after {
  content: '';
  background-color: #3e6bf2;
  -webkit-animation: pulse 1.25s infinite;
          animation: pulse 1.25s infinite;
  z-index: 4;
}

.features .container .info .video .play.remove-btn {
  display: none;
}

.features .container .feats .feature {
  max-width: 50ch;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.features .container .feats .feature .icon {
  width: 50px;
  height: 50px;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid #3e6bf2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3e6bf2;
  font-size: 1.5em;
}

.features .container .feats .feature h3 {
  margin-bottom: .7rem;
  color: #3e6bf2;
  font-weight: normal;
}

.features .container .feats .feature p {
  color: #777777;
  line-height: 1.5;
}

.our-classes {
  overflow: hidden;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-image: url("../../../images/classes.jpg");
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.our-classes .container {
  position: relative;
  z-index: 2;
}

.our-classes .classes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2.2rem;
}

.our-classes .classes .class .class-img {
  width: 100%;
  margin-bottom: 1.2rem;
}

.our-classes .classes .class .class-img img {
  max-width: 100%;
}

.our-classes .classes .class h3 {
  color: #3e6bf2;
  margin-bottom: 1.2rem;
  font-weight: normal;
  line-height: 1.3;
}

.our-classes .classes .class .info {
  margin-bottom: calc(1.2rem);
}

.our-classes .classes .class .info li {
  color: #777777;
  margin-bottom: .7rem;
}

.our-classes .classes .class .info li i {
  color: #3e6bf2;
  width: 15px;
}

.our-classes .classes .class .info li span {
  margin-left: .5rem;
}

.our-classes .classes .class .description {
  color: #777777;
  line-height: 1.5;
}

.free-trial {
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-align: center;
}

.free-trial .section-title {
  color: #000;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.free-trial p {
  width: 50%;
  margin: auto;
  margin-bottom: 3rem;
  line-height: 1.5;
  color: #777777;
}

.free-trial .main-btn {
  margin-bottom: 3.5rem;
}

.free-trial .free-trial-imgs {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'first second third' 'fourth fourth fifth';
  gap: 1rem;
}

.free-trial .free-trial-imgs .first {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
}

.free-trial .free-trial-imgs .second {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: second;
}

.free-trial .free-trial-imgs .third {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: third;
}

.free-trial .free-trial-imgs .fourth {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: fourth;
}

.free-trial .free-trial-imgs .fifth {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: fifth;
}

.free-trial .free-trial-imgs .img img {
  width: 100%;
  height: 250px;
}

.to-instructors {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-image: url("../../../images/instructors.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  color: #fff;
}

.to-instructors::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 107, 242, 0.9);
}

.to-instructors .container {
  position: relative;
  z-index: 3;
}

.to-instructors .section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}

.to-instructors p {
  width: 50%;
  margin: auto;
  margin-bottom: 3.5rem;
  line-height: 1.7;
}

.to-instructors a {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: auto;
  margin-top: 1.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.to-instructors a i {
  color: #fff;
}

.instructors {
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;
  z-index: 2;
}

.instructors .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 4rem;
}

.instructors .container .instructor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.instructors .container .instructor .image {
  width: 80px;
  height: 80px;
  margin-right: 1rem;
  border-radius: 50%;
}

.instructors .container .instructor .image img {
  max-width: 100%;
}

.instructors .container .instructor .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instructors .container .instructor .info h3 {
  font-size: 1rem;
  margin-bottom: .5rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.instructors .container .instructor .info span {
  font-size: .8rem;
  color: #777777;
}

.instructors .container .instructor:hover .info h3 {
  color: #3e6bf2;
}

.renewal-series {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #f8f7fc;
}

.renewal-series .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.renewal-series .container .info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.renewal-series .container .info h2 {
  text-align: left;
  margin-bottom: 2rem;
}

.renewal-series .container .info p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #3e6bf2;
  margin-bottom: 3rem;
}

.renewal-series .container .info .main-btn {
  padding-left: 2rem;
  padding-right: 2rem;
}

.renewal-series .container .image {
  width: 50%;
  position: absolute;
  top: -400px;
  right: 0;
}

.renewal-series .container .image img {
  max-width: 100%;
}

.partners {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  z-index: 2;
}

.partners .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  -webkit-column-gap: 5.5rem;
          column-gap: 5.5rem;
  row-gap: 5rem;
  place-items: center;
}

.subscribe {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #181818;
  color: #fff;
}

.subscribe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.subscribe .container .logo {
  width: 80px;
}

.subscribe .container .logo img {
  max-width: 100%;
}

.subscribe .container .info h3 {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.subscribe .container .info p {
  font-size: .8rem;
}

.subscribe .container .form {
  position: relative;
}

.subscribe .container .form input[type=email] {
  width: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 1rem;
  background-color: #333333;
  color: #fff;
}

.subscribe .container .form input[type=submit] {
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  padding-top: 4rem;
  background-color: #222222;
  color: #fff;
}

footer h3 {
  margin-bottom: 2rem;
}

footer .container:first-of-type {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 3.5rem;
}

footer .container:first-of-type .contact {
  line-height: 1.5;
}

footer .container:first-of-type .contact > * {
  margin-bottom: 1rem;
}

footer .container:first-of-type .contact span {
  display: block;
}

footer .container:first-of-type .contact .social-icons a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .container:first-of-type .contact .social-icons a:first-child {
  background-color: #365493;
}

footer .container:first-of-type .contact .social-icons a:nth-child(2) {
  background-color: #33ccff;
}

footer .container:first-of-type .contact .social-icons a:nth-child(3) {
  background-color: #c13584;
}

footer .container:first-of-type .contact .social-icons a:nth-child(4) {
  background-color: #cb2027;
}

footer .container:first-of-type .contact .social-icons a:hover {
  color: #3e6bf2;
  background-color: #fff;
}

footer .container:first-of-type .useful-links ul li {
  margin-bottom: .7rem;
  cursor: pointer;
}

footer .container:first-of-type .useful-links ul li:hover {
  text-decoration: underline;
}

footer .container:first-of-type .open-hours ul li {
  margin-bottom: .9rem;
}

footer .container:first-of-type .open-hours ul li .day {
  width: 300px;
}

footer .container:first-of-type .open-hours ul li .day::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f054';
  font-weight: 900;
  font-size: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

footer .container:first-of-type .location {
  margin-bottom: 4rem;
}

footer .container:first-of-type .location .map {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

footer .sub-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #181818;
}

footer .sub-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Animation */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: .75;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: .75;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

/* XS Screens */
/* Mobile Screens */
@media (max-width: 767px) {
  .navbar .links {
    display: none;
  }
  .navbar .menu-toggle {
    display: block;
  }
  .landing {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing .landing-img {
    display: none;
  }
  .landing .landing-title {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .features .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .free-trial p {
    width: 80%;
  }
  .free-trial .free-trial-imgs {
        grid-template-areas: 'first' 'second' 'third' 'fifth' 'fourth';
  }
  .free-trial .free-trial-imgs .first {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: first;
  }
  .free-trial .free-trial-imgs .second {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: second;
  }
  .free-trial .free-trial-imgs .third {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: third;
  }
  .free-trial .free-trial-imgs .fourth {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: fourth;
  }
  .free-trial .free-trial-imgs .fifth {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: fifth;
  }
  .to-instructors p {
    width: 80%;
  }
  .instructors .instructor {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .renewal-series .info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  .renewal-series .info h2 {
    text-align: center !important;
  }
  .renewal-series .image {
    display: none;
  }
  .subscribe .info h3 {
    font-size: 1.3rem;
    margin-bottom: .5rem;
  }
  .subscribe .info p {
    font-size: 1rem;
  }
  .subscribe .form input[type=email] {
    width: 320px !important;
  }
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .landing .landing-img img {
    top: -50% !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .free-trial p {
    width: 70%;
  }
  .free-trial .free-trial-imgs {
        grid-template-areas: 'first second' 'third fifth' 'fourth fourth';
  }
  .free-trial .free-trial-imgs .first {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: first;
  }
  .free-trial .free-trial-imgs .second {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: second;
  }
  .free-trial .free-trial-imgs .third {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: third;
  }
  .free-trial .free-trial-imgs .fourth {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: fourth;
  }
  .free-trial .free-trial-imgs .fifth {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: fifth;
  }
  .to-instructors p {
    width: 70%;
  }
  .renewal-series .image {
    top: -200px !important;
  }
}

@media (max-width: 991px) {
  .renewal-series h2 {
    font-size: 2.2rem;
  }
  .subscribe .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 3rem;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .renewal-series .image {
    top: -350px !important;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .landing .landing-img img {
    top: -100% !important;
  }
}
/*# sourceMappingURL=main.css.map */