*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

button:focus,
input:focus {
  outline: none;
}

.main-btn {
  padding: 10px;
  border-radius: 1rem;
  background-color: #3e6bf2;
  color: #fff;
}

.section-title {
  margin-bottom: 3rem;
  color: #3e6bf2;
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
}

.navbar {
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: #d1d6e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  width: 60px;
  border-radius: 52%;
  background-color: #3e6bf2;
  position: relative;
  z-index: 4;
}

.navbar .logo img {
  max-width: 100%;
}

.navbar .menu-toggle {
  color: #3e6bf2;
  cursor: pointer;
  display: none;
}

.navbar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 5;
}

.navbar .links a {
  margin-left: .5rem;
}

.navbar .links a li {
  padding: 10px;
  color: #3e6bf2;
}

.navbar .links .free-trial {
  background-color: #3e6bf2;
  border-radius: 1rem;
  padding: 0;
}

.navbar .links .free-trial li {
  color: #fff;
}

.landing {
  background: #d1d6e3;
  height: 500px;
}

.landing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing .container .landing-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

.landing .container .landing-img img {
  max-width: 150%;
  position: absolute;
  left: -20%;
  z-index: 2;
}

.landing .container .landing-title {
  line-height: 1.5;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 100px;
  font-size: 1.5rem;
  color: #3e6bf2;
}

.landing .container .landing-title h1 {
  font-weight: normal;
}

.landing .custom-shape-divider-bottom-1625953240 {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.landing .custom-shape-divider-bottom-1625953240 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 160px;
}

.landing .custom-shape-divider-bottom-1625953240 .shape-fill {
  fill: #FFFFFF;
}

.features {
  position: relative;
  z-index: 99;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}

.features .container .info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.features .container .info h2 {
  text-align: left;
  margin-bottom: 0;
}

.features .container .info p {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: #777777;
}

.features .container .info .video {
  position: relative;
}

.features .container .info .video video {
  border-radius: 5px;
}

.features .container .info .video .play {
  margin: auto;
  position: absolute;
  top: 50%;
  left: calc(50% - 40px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  outline: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #3e6bf2;
  z-index: 6;
  cursor: pointer;
}

.features .container .info .video .play::after,
.features .container .info .video .play::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.features .container .info .video .play::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f04b';
  font-weight: 900;
  font-size: 2em;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #fff;
  z-index: 5;
}

.features .container .info .video .play::after {
  content: '';
  background-color: #3e6bf2;
  -webkit-animation: pulse 1.25s infinite;
          animation: pulse 1.25s infinite;
  z-index: 4;
}

.features .container .info .video .play.remove-btn {
  display: none;
}

.features .container .feats .feature {
  max-width: 50ch;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.features .container .feats .feature .icon {
  width: 50px;
  height: 50px;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid #3e6bf2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3e6bf2;
  font-size: 1.5em;
}

.features .container .feats .feature h3 {
  margin-bottom: .7rem;
  color: #3e6bf2;
  font-weight: normal;
}

.features .container .feats .feature p {
  color: #777777;
  line-height: 1.5;
}

.our-classes {
  overflow: hidden;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-image: url("../../../images/classes.jpg");
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.our-classes .container {
  position: relative;
  z-index: 2;
}

.our-classes .classes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2.2rem;
}

.our-classes .classes .class .class-img {
  width: 100%;
  margin-bottom: 1.2rem;
}

.our-classes .classes .class .class-img img {
  max-width: 100%;
}

.our-classes .classes .class h3 {
  color: #3e6bf2;
  margin-bottom: 1.2rem;
  font-weight: normal;
  line-height: 1.3;
}

.our-classes .classes .class .info {
  margin-bottom: calc(1.2rem);
}

.our-classes .classes .class .info li {
  color: #777777;
  margin-bottom: .7rem;
}

.our-classes .classes .class .info li i {
  color: #3e6bf2;
}

.our-classes .classes .class .description {
  color: #777777;
  line-height: 1.5;
}

/* Animation */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: .75;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: .75;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

/* XS Screens */
/* Mobile Screens */
@media (max-width: 767px) {
  .navbar .links {
    display: none;
  }
  .navbar .menu-toggle {
    display: block;
  }
  .landing {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing .landing-img {
    display: none;
  }
  .landing .landing-title {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .features .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .landing .landing-img img {
    top: -50% !important;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .landing .landing-img img {
    top: -100% !important;
  }
}
/*# sourceMappingURL=main.css.map */