@import '../helpers/global-rules';
@import '../helpers/variables';
@import '../helpers/mixins';

.navbar {
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: #d1d6e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
        .logo {
            width: 60px;
            border-radius: 52%;
            background-color: $main-color;
            position: relative;
            z-index: 4;
            img {
                max-width: 100%;
            }
        }
        .links {
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 5;
            li {
                padding: 10px;
                color: $main-color;
            }
            .free-trial {
                background-color: $main-color;
                border-radius: 1rem;
                li {
                    color: #fff;
                }
            }
        }
}

.landing {
    background: #d1d6e3;
    height: 500px;
    .container {
        display: flex;
        justify-content: space-between;
        .landing-img {
            flex-basis: 50%;
            position: relative;
            img {
                max-width: 150%;
                position: absolute;
                left: -20%;
                z-index: 2;
            }
        }
        .landing-title {
            line-height: $p-l-height;
            flex-basis: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 100px;
            font-size: 1.5rem;
            color: $main-color;
            h1 {
                font-weight: normal;
            }
        }
    }
    .custom-shape-divider-bottom-1625953240 {
        position: absolute;
        bottom: -1.5rem;
        left: 0;
        z-index: 10;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-bottom-1625953240 svg {
        position: relative;
        display: block;
        width: calc(131% + 1.3px);
        height: 160px;
    }
    
    .custom-shape-divider-bottom-1625953240 .shape-fill {
        fill: #FFFFFF;
    }
}

.features {
    position: relative;
    z-index: 99;
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        .info {
            flex-basis: 50%;
            h2 {
                color: $main-color;
                font-size: 2.5em;
                font-weight: normal;
            }
            p {
                margin-top: 1.5rem;
                margin-bottom: 2rem;
                line-height: $p-l-height;
                color: $p-color;
            }
            .video {
                position: relative;
                video {
                    border-radius: 5px;
                }
                .play {
                    margin: auto;
                    position: absolute;
                    top: 50%;
                    left: calc(50% - 40px);
                    transform: translateY(-50%);
                    border: none;
                    outline: none;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    background-color: $main-color;
                    z-index: 6;
                    cursor: pointer;
                }
                .play::after,
                .play::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border-radius: 50%;
                }
                .play::before {
                    font-family: 'Font Awesome 5 Free';
                    content: '\f04b';
                    font-weight: 900;
                    font-size: 2em;
                    display: grid;
                    place-items: center;
                    color: #fff;
                    z-index: 5;
                }
                .play::after {
                    content: '';
                    background-color: $main-color;
                    animation: pulse 1.25s infinite;
                    z-index: 4;
                }
                .play.remove-btn {
                    display: none;
                }
            }
        }
        .feats {
            .feature {
                max-width: 50ch;
                margin-bottom: 2rem;
                display: flex;
                gap: 1.5rem;
                .icon {
                    width: 50px;
                    height: 50px;
                    padding: 20px;
                    border-radius: 50%;
                    border: 2px solid $main-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $main-color;
                    font-size: 1.5em;
                }
                h3 {
                    margin-bottom: .7rem;
                    color: $main-color;
                    font-weight: normal;
                }
                p {
                    color: $p-color;
                    line-height: $p-l-height;
                }
            }
        }
    }
}

/* Animation */
@keyframes pulse {
    0% {
        transform: scale(.9);
        opacity: .75;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
