.landing {
    background: #d1d6e3;
    height: 530px;
    position: relative;
    .container {
        display: flex;
        justify-content: space-between;
        .landing-img {
            flex-basis: 50%;
            position: relative;
            img {
                max-width: 150%;
                position: absolute;
                left: -20%;
                z-index: 2;
            }
        }
        .landing-title {
            flex-basis: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 100px;
            z-index: 3;
            font-size: 1.5rem;
            line-height: $p-l-height;
            color: $main-color;
            h1 {
                font-weight: normal;
            }
        }
    }
}

.features {
    position: relative;
    z-index: 99;
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        .info {
            flex-basis: 50%;
            h2 {
                text-align: left;
                margin-bottom: 0;
            }
            p {
                margin-top: 1.5rem;
                margin-bottom: 2rem;
                line-height: $p-l-height;
                color: $p-color;
            }
            .video {
                position: relative;
                video {
                    border-radius: 5px;
                }
                .play {
                    margin: auto;
                    position: absolute;
                    top: 50%;
                    left: calc(50% - 40px);
                    transform: translateY(-50%);
                    border: none;
                    outline: none;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    background-color: $main-color;
                    z-index: 6;
                    cursor: pointer;
                }
                .play::after,
                .play::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border-radius: 50%;
                }
                .play::before {
                    font-family: 'Font Awesome 5 Free';
                    content: '\f04b';
                    font-weight: 900;
                    font-size: 2em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    z-index: 5;
                }
                .play::after {
                    content: '';
                    background-color: $main-color;
                    animation: pulse 1.25s infinite;
                    z-index: 4;
                }
                .play.remove-btn {
                    display: none;
                }
            }
        }
        .feats {
            .feature {
                max-width: 50ch;
                margin-bottom: 2rem;
                display: flex;
                gap: 1.5rem;
                .icon {
                    width: 50px;
                    height: 50px;
                    padding: 20px;
                    border-radius: 50%;
                    border: 2px solid $main-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $main-color;
                    font-size: 1.5em;
                }
                h3 {
                    margin-bottom: .7rem;
                    color: $main-color;
                    font-weight: normal;
                }
                p {
                    color: $p-color;
                    line-height: $p-l-height;
                }
            }
        }
    }
}

.our-classes {
    overflow: hidden;
    @include section-padding();
    background-image: url('../../../images/classes.jpg');
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .container {
        position: relative;
        z-index: 2;
    }
}

.free-trial {
    @include section-padding();
    text-align: center;
    .section-title {
        color: #000;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    p {
        width: 50%;
        margin: auto;
        margin-bottom: 3rem;
        line-height: 1.5;
        color: $p-color;
    }
    .main-btn {
        margin-bottom: 3.5rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .free-trial-imgs {
        display: grid;
        grid-template-areas: 'first second third'
                            'fourth fourth fifth';
        gap: 1rem;
        .first {
            grid-area: first;
        }
        .second {
            grid-area: second;
        }
        .third {
            grid-area: third;
        }
        .fourth {
            grid-area: fourth;
        }
        .fifth {
            grid-area: fifth;
        }
        .img {
            img {
                width: 100%;
                height: 250px;
            }
        }
    }
}

.to-instructors {
    @include section-padding();
    background-image: url('../../../images/instructors.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    color: #fff;
    &::after {
        @include overlay();
    }
    .container {
        position: relative;
        z-index: 3;
    }
    .section-title {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: #fff;
    }
    p {
        width: 50%;
        margin: auto;
        margin-bottom: 3.5rem;
        line-height: 1.7;
    }
    a {
        width: 40px;
        height: 40px;
        padding: 10px;
        margin: auto;
        margin-top: 1.5rem;
        border: 1px solid #fff;
        border-radius: 50%;
        @include flex-center();
        justify-content: center;
        i {
            color: #fff;
        }
    }
}

.instructors {
    @include section-padding();
    position: relative;
    z-index: 2;
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        column-gap: 2rem;
        row-gap: 4rem;
        .instructor {
            display: flex;
            cursor: pointer;
            .image {
                width: 80px;
                height: 80px;
                margin-right: 1rem;
                border-radius: 50%;
                img {
                    max-width: 100%;
                }
            }
            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                h3 {
                    font-size: 1rem;
                    margin-bottom: .5rem;
                    @include transition();
                }
                span {
                    font-size: .8rem;
                    color: $p-color;
                }
            }
            &:hover {
                .info h3 {
                    color: $main-color;
                }
            }
        }
    }
}

.renewal-series {
    @include section-padding();
    background-color: #f8f7fc;
    .container {
        display: flex;
        position: relative;
        .info {
            flex-basis: 50%;
            h2 {
                text-align: left;
                margin-bottom: 2rem;
            }
            p {
                font-size: 1.2rem;
                line-height: 1.5;
                color: $main-color;
                margin-bottom: 3rem;
            }
            .main-btn {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
        .image {
            width: 50%;
            position: absolute;
            top: -400px;
            right: 0;
            img {
                max-width: 100%;
            }
        }
    }
}

.partners {
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
    z-index: 2;
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        column-gap: 5.5rem;
        row-gap: 5rem;
        place-items: center;
    }
}



/* Animation */
@keyframes pulse {
    0% {
        transform: scale(.9);
        opacity: .75;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
