/* XS Screens */
@media (max-width: 350px) {

}
/* Mobile Screens */
@media (max-width: 767px) {
    .navbar {
        .links {
            display: none;
        }
        .menu-toggle {
            display: block;
        }
    }
    .landing {
        align-items: center;
        justify-content: center;
        .landing-img {
            display: none;
        }
        .landing-title {
            flex-basis: 100% !important;
        }
    }
    .features {
        .container {
            flex-direction: column;
        }
    }
    .free-trial {
        p {
            width: 80%;
        }
        .free-trial-imgs {
            grid-template-areas: 'first' 'second' 'third' 'fifth' 'fourth';
            .first {
                grid-area: first;
            }
            .second {
                grid-area: second;
            }
            .third {
                grid-area: third;
            }
            .fourth {
                grid-area: fourth;
            }
            .fifth {
                grid-area: fifth;
            }
        }
    }
    .to-instructors {
        p {
            width: 80%;
        }
    }
    .instructors {
        .instructor {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .renewal-series {
        .info {
            flex: 1;
            text-align: center;
            h2 {
                text-align: center !important;
            }
        }
        .image {
            display: none;
        }
    }
        .subscribe {
        .info {
            h3 {
                font-size: 1.3rem;
                margin-bottom: .5rem;
            }
            p {
                font-size: 1rem;
            }
        }
        .form {
            input[type=email] {
                width: 320px !important;
            }
        }
    }
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .landing {
        .landing-img {
            img {
                top: -50% !important;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .free-trial {
        p {
            width: 70%;
        }
        .free-trial-imgs {
            grid-template-areas: 'first second' 'third fifth' 'fourth fourth';
            .first {
                grid-area: first;
            }
            .second {
                grid-area: second;
            }
            .third {
                grid-area: third;
            }
            .fourth {
                grid-area: fourth;
            }
            .fifth {
                grid-area: fifth;
            }
        }
    }
    .to-instructors {
        p {
            width: 70%;
        }
    }
    .renewal-series {
        .image {
            top: -200px !important;
        }
    }
}

@media (max-width: 991px) {
    .renewal-series {
        h2 {
            font-size: 2.2rem;
        }
    }
    .subscribe {
        .container {
            flex-direction: column;
            text-align: center;
            row-gap: 3rem;
    }
}
}
/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .renewal-series {
        .image {
            top: -350px !important;
        }
    }
}
/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .landing {
        .landing-img {
            img {
                top: -100% !important;
            }
        }
    }
}