/* XS Screens */
@media (max-width: 350px) {

}
/* Mobile Screens */
@media (max-width: 767px) {
    .navbar {
        position: relative;
        .links {
            position: absolute;
            bottom: -355px;
            left: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 1rem;
            background-color: rgba($main-color, .9);
            transform: translateX(100%);
            @include transition();
            a {
                margin-bottom: 1rem;
                border-radius: 1rem;
                text-align: center;
                width: 65%;
                margin-right: auto;
                margin-left: auto;
                transform: translateX(-500%);
                @include transition();
                &:not(.free-trial) {
                    &:hover {
                        background-color: #fff;
                        li {
                            color: $main-color;
                        }
                    }
                }
                li {
                    color: #fff;
                }
                &.free-trial {
                    background-color: #fff;
                    li {
                        color: $main-color;
                    }
                }
            }
            &.open {
                transform: translateX(0);
                a {
                    transform: translateX(0);
                }
            }
        }
        .menu-toggle {
            display: block;
        }
    }
    .header {
        p {
            width: 100%;
        }
    }
    .landing {
        align-items: center;
        justify-content: center;
        .landing-img {
            display: none;
        }
        .landing-title {
            flex-basis: 100% !important;
        }
    }
    .free-trial {
        p {
            width: 80%;
        }
        .free-trial-imgs {
            grid-template-areas: 'first' 'second' 'third' 'fifth' 'fourth';
            .first {
                grid-area: first;
            }
            .second {
                grid-area: second;
            }
            .third {
                grid-area: third;
            }
            .fourth {
                grid-area: fourth;
            }
            .fifth {
                grid-area: fifth;
            }
        }
    }
    .to-instructors {
        p {
            width: 80%;
        }
    }
    .instructors {
        .instructor {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .renewal-series {
        .info {
            flex: 1;
            text-align: center;
            h2 {
                font-size: 2.1rem;
                text-align: center !important;
            }
        }
        .image {
            display: none;
        }
    }
        .subscribe {
        .info {
            h3 {
                font-size: 1.3rem;
                margin-bottom: .5rem;
            }
            p {
                font-size: 1rem;
            }
        }
        .form {
            input[type=email] {
                width: 320px !important;
            }
        }
    }
    .header {
        h1 {
            font-size: 3.5rem;
        }
    }
    .quote {
        .container {
            q {
                width: 90%;
            }
        }
    }
    .testimonials {
        .testims {
            .testim {
                p {
                    width: 95%;
                    margin-bottom: 7rem;
                }
                .person-img {
                    width: 20%;
                }
            }
        }
    }
    .pricing {
        .plan {
            text-align: center;
        }
    }
    .pricing-renewal-series {
        background-image: url('../../../images/pricing/renewal1.jpg');
        background-position: 70% 100%;
        &::after {
            background-color: rgba(#fff, .5);
        }
        .info {
            width: 100%;
            text-align: center;
            .section-title {
                text-align: center;
            }
        }
    }
    .contact-us {
        form {
            input, textarea {
                width: 100% !important;
                margin-right: 0;
                margin-left: 0 !important;
            }
        }
        .location {
            .slide {
                flex-direction: column;
                text-align: center;
            }
        }
    }
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .landing {
        .landing-img {
            img {
                top: -50% !important;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .free-trial {
        p {
            width: 70%;
        }
        .free-trial-imgs {
            grid-template-areas: 'first second' 'third fifth' 'fourth fourth';
            .first {
                grid-area: first;
            }
            .second {
                grid-area: second;
            }
            .third {
                grid-area: third;
            }
            .fourth {
                grid-area: fourth;
            }
            .fifth {
                grid-area: fifth;
            }
        }
    }
    .to-instructors {
        p {
            width: 70%;
        }
    }
    .renewal-series {
        .image {
            top: -200px !important;
        }
    }
    .testimonials {
        .testims {
            .testim {
                p {
                    width: 95%;
                    margin-bottom: 2rem;
                }
            }
        }
    }
    .pricing-renewal-series {
        .info {
            width: 70%;
        }
    }
}

@media (max-width: 991px) {
    .custom-shape-divider-bottom-1625953240 {
        display: none;
    }
    .header {
        text-align: center;
        p {
            margin-left: auto;
            margin-right: auto;
            width: 85%;
        }
    }
    .renewal-series {
        h2 {
            font-size: 2.2rem;
        }
    }
    .subscribe {
        padding-bottom: 3rem;
        .container {
            flex-direction: column;
            text-align: center;
            row-gap: 3rem;
        }
    }
    .features {
        .container {
            flex-direction: column;
        }
    }
    .about {
        .container {
            flex-direction: column;
            .about-img {
                img {
                    position: static !important;
                }
            }
        }
    }
    .contact-us {
        .container {
            flex-direction: column;
            row-gap: 4rem;
            .bullets {
                position: static !important;
                right: 0 !important;
                bottom: 0 !important;
                transform: translateX(0) !important;
                text-align: center;
                margin-top: 2rem;
                li {
                    display: inline-block !important;
                    margin-left: 5px !important;
                    margin-right: 5px !important;
                }
            }
        }
    }
}
/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .renewal-series {
        .image {
            top: -350px !important;
        }
    }
}
/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .landing {
        .landing-img {
            img {
                top: -100% !important;
            }
        }
    }
}